* {
    box-sizing:border-box;
    margin:0px;
    padding:0px;
    
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');


/*
.top-bar {
    display:flex;
    width:100%;
    height:fit-content;
    background-color:#1F2937;
    color:whitesmoke;
 
}

.top-bar > div {
    
    width:100%;
    margin:auto;   
    height:10%;

}

.nav-bar-container > header {
    display:flex;
    height:max-content;
    font-size:24px;
    font-family:'Courier New', Courier, monospace;
    font-weight:600;
    flex:1;
    height:inherit;
    width:fit-content;
    justify-content:center;
    margin:auto;
    align-items:center;   
    text-align:center;
}  

.link-container {
    margin:flex;
    width:100%;
    display:flex;
}

    

.links {
    display:flex;
    list-style-type: none;
    margin:auto;
    width:auto;
    align-items:center;
    justify-content:center;  
}

.links > li {
    flex:1;
    width:100%;   
    justify-content: space-evenly;
    text-align:center;
    align-items:center;
    font-size:12px;
    color:#E5E7EB;
    font-weight:700;  
    padding:5px; 
    /*border-style:solid; 
}
*/


li, a, button {
    font-style: "Montserrat", sans-serif;
    font-weight:500;
    color:#0c0606;
}

header {
    display:flex;
    justify-content:flex-end;
    align-items:center;
    padding: 30px 10%; 
    background-color:#1F2937;
}

.logo {
    cursor:pointer;
    margin-right:auto;
}

.nav-links{
    cursor:pointer;
    list-style:none; 
}



.nav-links li {
    display:inline-block;
    padding:0 20px;
    color:#ecf0f1;
}

.nav-links li a {
    transition:all 0.3s ease 0s;
    border:none;
    border-radius:60px;
    background-color:transparent;
}
.nav-links li a:hover {
    background-color:rgb(9, 18, 18, 0.8);
    color:crimson;
}

button {
    padding:9px 25px;
    color: rgb(9, 18, 18, 1);
    border:none;
    border-radius:50px;
    cursor:pointer;
    transition:all 0.3s ease 0s;
 
   
}
button:hover {
    background-color:rgb(9, 18, 18, 0.8);
    color:crimson;
}


.main-box-container {
    display:flex;
    background-color:#1F2937 ;
    
}

.main-box-container > div {
    flex:1;
    justify-content:center;
    align-items:center;
    margin:auto;
    text-align:center;
    background-color:#1F2937;
    color:whitesmoke;
    padding:5% 10%;
    height:100%;
}

.huge-header {
    font-size:48px;
    font-weight:1500px;
    flex:1;
    
    
}

.right-half {
    display:flex;
    width:50%;
    height:100%;
    
}
.right-half > img {
    width:100%;
    height:auto;
    
}


