* {
    box-sizing:border-box;
    margin:0px;
    padding:0px;
    
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');


/*nav bar styling starts here*/

li, a, button {
    font-style: "Montserrat", sans-serif;
    font-weight:500;
    color:#0c0606;
}

header {
    display:flex;
    justify-content:flex-end;
    align-items:center;
    padding: 30px 10%; 
    background-color:#1F2937;
}

.logo {
    cursor:pointer;
    margin-right:auto;
}

.nav-links{
    cursor:pointer;
    list-style:none; 
}



.nav-links li {
    display:inline-block;
    padding:0 20px;
    color:#ecf0f1;
}

.nav-links li a {
    transition:all 0.3s ease 0s;
    border:none;
    border-radius:60px;
    background-color:transparent;
}
.nav-links li a:hover {
    background-color:rgb(9, 18, 18, 0.8);
    color:crimson;
}

button {
    padding:9px 25px;
    color: rgb(9, 18, 18, 1);
    border:none;
    border-radius:50px;
    cursor:pointer;
    transition:all 0.3s ease 0s;
 
   
}
button:hover {
    background-color:rgb(9, 18, 18, 0.8);
    color:crimson;
}


/* main box (with the call to action and bicep curl image) styling starts here */
.main-box-container {
    display:flex;
    background-color:#1F2937 ;
    
}

.main-box-container > div {
    flex:1;
    justify-content:center;
    align-items:center;
    margin:auto;
    text-align:center;
    background-color:#1F2937;
    color:whitesmoke;
    padding:5% 10%;
    height:100%;
}

.huge-header {
    font-size:48px;
    font-weight:1500px;
    flex:1;
    
    
}

.right-half {
    display:flex;
    width:50%;
    height:100%;
    
}
.right-half > img {
    width:100%;
    height:auto;
    
}

/* here, the styling for the third box starts */
.third-section {
    display:flex;
    justify-content:center;
    text-align:center;
    flex-direction:column;
    padding-bottom:30px;
    
}

.Objective {
    padding-top:30px;
    text-align:center;
    width:100%;
    
    
}

.subtext-container {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-content:center;
    padding-left:15%;
    padding-right:15%;


}
.subtext-container .img-subtext {

    padding:auto 15%; 
    flex:1;
}

.subtext-container p {
    text-align:center;
    flex:1;
    position:relative;
    
}


.img-container {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    
}

.objective-img {
    width:20%;
    margin-top: 30px;
    height:120px;
    border:none;
    border-radius:20px;
    cursor:pointer;
    border-style:solid;
    margin:10px;
    ;

}

/* third box styling ends here */


.quote-section {
    padding-top:70px;
    padding-bottom:65px;
    padding-left:120px;
    padding-right:120px;
    background-color:#e5e7eb;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    flex-direction:column;


}

.quote {
    font-size:36px;
    font-style:italic;
    color:#1f2937;


}
.quote-author  {
    width:100%;
    text-align:end;
    padding-top:10px;
}


/* quote section ends here*/

.call-to-action {
    width:100%;
    padding-left:10%;
    padding-right: 10%;
    padding-top:30px;
    padding-bottom:30px;
    background-color:white;
    display:flex;
    flex-direction:row;
}


.call-button {
    padding-left:15px;
    border-radius:15px;
    display:inline-block;
    background-color:blue;
    border-style:solid;
    color:white;
    justify-content:flex-end;
 
}
.call-to-action .blue-call-container{
    width:100%;
    padding-left:50px;
    padding-right:50px;
    padding-top:50px;
    padding-bottom:50px;
    background-color:#3882f6;
    color:white;
    display:flex;
    flex:1;
    border-style:hidden;
    border-radius:10px;

}

.call-content-container {
    margin: auto;

}

/*call to action section ends here*/

/*footer section:*/

footer {
    padding:3% 20%;
    justify-content:center;
    align-items:center;
    background-color:#1f2937;
}

.foot {
    text-align:center;
    font-size:12px;
    color:white;
}


